* {
  font-family: monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #171717;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 320px;
  background: #323232;
  border-radius: 32px;
}

.calculator__input-container {
  width: 100%;
  height: 160px;
  border-radius: 32px 32px 0 0;
}
.calculator__input-container .calculator__input-element {
  padding: 0 24px;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #fff;
  background-color: #424242;
  border: 0;
  border-radius: inherit;
  outline: 0;
}

.calculator__keyboard-container {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}
.calculator__keyboard-container button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4px;
  width: calc(25% - 8px);
  height: 48px;
  background-color: #3a3a3a;
  border: 0;
  border-radius: 24px;
  outline: 0;
  user-select: none;
  cursor: pointer;

  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1px;
}
.calculator__keyboard-container button[text] {
  background-color: transparent;
}
.calculator__keyboard-container button[primary] {
  color: #b8dbd7;
  background-color: #1d655e;
}
.calculator__keyboard-container button[secondary] {
  color: #bbc5da;
  background-color: #1d3465;
}
.calculator__keyboard-container button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
}
.calculator__keyboard-container button:hover::before {
  opacity: 0.08;
}
.calculator__keyboard-container button:focus-visible::before {
  opacity: 0.12;
}
.calculator__keyboard-container button:active::before {
  opacity: 0.16;
}
