* {
  font-family: monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(28, 27, 31);
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 320px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 32px;
}

.calculator__input-container {
  width: 100%;
  height: 160px;
  border-radius: 32px 32px 0 0;
}
.calculator__input-element {
  padding: 0 24px;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  border-radius: inherit;
  outline: 0;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.calculator__input-element:focus-visible {
  border: 2px solid rgba(255, 255, 255, 0.16);
}

.calculator__keyboard-container {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}
.calculator__keyboard-container button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4px;
  width: calc(25% - 8px);
  height: 48px;
  background-color: rgba(255, 255, 255, 0.04);
  border: 0;
  border-radius: 24px;
  outline: 0;
  user-select: none;
  cursor: pointer;

  color: rgb(208, 188, 255);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1px;
}
.calculator__keyboard-container button[text] {
  background-color: transparent;
}
.calculator__keyboard-container button[primary] {
  color: rgb(56, 30, 114);
  background-color: rgb(208, 188, 255);
}
.calculator__keyboard-container button[secondary] {
  color: rgb(232, 222, 248);
  background-color: rgb(74, 68, 88);
}
.calculator__keyboard-container button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
}
.calculator__keyboard-container button:hover::before {
  opacity: 0.08;
}
.calculator__keyboard-container button:focus-visible::before {
  opacity: 0.12;
}
.calculator__keyboard-container button:active::before {
  opacity: 0.16;
}

.key-showing {
  position: absolute;
  right: 16px;
  bottom: 16px;
  padding: 0 16px;
  min-width: 64px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
}
